<div class="wrapper narrow">
  {{choice/ui-panel footer=true}}
</div>

<div class="wrapper">
  <div class="content">
    {{#choice/ui-panel as |panel styles|}}
      {{panel.header "很久很久以前"}}
      {{panel.button color="purple"}}
      {{panel.content placeholder="汽车人大战霸天虎"}}
      {{#panel.footer as |footer|}}
        {{footer.button color="green"}}
        {{footer.button "CANCEL" color="gray"}}
      {{/panel.footer}}
    {{/choice/ui-panel}}
  </div>
</div>
